@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components{
  .button {
    @apply px-2 py-1 rounded-lg bg-teal-900 text-white font-medium
                 hover:bg-teal-950 cursor-pointer focus:outline-none focus:ring-2
                 focus:ring-emerald-400 focus:ring-offset-2 focus:ring-offset-gray-950
                 transition-colors duration-200
  }
}